.travel-tips-container {
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)),
    url("Monsieur-de-North.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100vw;
  max-width:100%;
  transition: all 0.7s ease-in;
}
.travel-tips-container h2 {
  text-align: center;
  font-size: 2em;
}
.travel-tips-container:hover {
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("Monsieur-de-North.jpg");
  cursor: pointer;
}
@media (hover: none) {
.travel-tips-container {
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("Monsieur-de-North.jpg");
  cursor: pointer;
}
}
.tip-card {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
.travel-tips-container:hover .tip-description {
  font-size: 1em;
  transition: font-size 0.3s ease-in;
}

.tip-title {
  margin-top: 2em;
  font-size: 1.3em;
}
.tip-description {
  margin-top: 2em;
  font-size: 0.71em;
}
