.featuredType {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.featured {
  max-width: 100%;
  margin: 0;
}
.featuredType h5 {
  padding: 5px 15px;
  cursor: pointer;
  margin: 0;
}
.featuredType h5.clicked {
  color: white;
  background-color: rgb(89, 89, 149);
  border-radius: 13px;
}
.featuredList {
  padding: 0;
  margin-top: 0.6em;
  width: 80%;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(auto, 1fr);
  gap: 10px;
  max-width: 100%;
  margin: 0;
}
.featuredListItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.g {
  color: white;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 5px 11px;
  position: relative;
  height: 100%;
}
.details {
  height: 20vh;
  position: relative;
  flex-shrink: 0;
}
.featuredListItem img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.pricing {
  position: absolute;
  bottom: 15px;
  color: white;
  left: 15px;
}
.location {
  display: flex;
  gap: 5px;
  font-size: 13px;
  color: black;
}
.description {
  font-size: 13px;
  color: rgb(36, 35, 35);
  font-weight: bolder;
  margin-top: 0.4em;
  margin-bottom: 1em;
  flex-grow: 1;
  word-break: break-all;
}
.reviews {
  display: flex;
  gap: 7px;
  color: black;
}

@media (max-width: 768px) {
  .featuredList {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
}
