* {
  box-sizing: border-box;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.section-heading {
  color: grey;
  margin-bottom: 0.4em;
}
.section-span {
  position: relative;
  display: inline-block;
  margin: 0.1em 0 1em 0;
}

.section-span::before {
  position: absolute;
  content: "";
  width: 2em;
  border: 1px solid lightblue;
}
