*{
  box-sizing: border-box;
}
body {
  margin: 0;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-heading {
  color: grey;
  margin-bottom:.9em;
}
.section-span {
  position: relative;
  display: inline-block;
  margin: .1em 0 .7em 0;
}

.section-span::before {
  position: absolute;
  content: "";
  width: 2em;
  border: 1px solid lightblue;
}
